<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <title>Camera Streams</title>
</head>
<body>
    {% include 'main/navbar.html' %}
    <div class="container2">
        <div class="camera-grid">
            {% for camera in cameras %}
                <div class="button">
                    <img src="{% url 'stream_camera' camera.index %}" alt="Stream of Camera {{ camera.index }}"
                         width="480" height="300">
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
