<!DOCTYPE html>
{% load static %}
<html>
<head>    
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h2> CCTV AI Detection </h2>
        </div>
        <div class="main">
            <form class="main-form" action="{% url 'home' %}" method="get">
                {% csrf_token %}
                <div class="f1">
                    <p> Movement Detection </p>
                    <input id="f1-movement" type="checkbox" name="f1" {% if f1 == "on" %}checked{% endif %}>
                    <label for="f1-movement" class="label"> </label>
                </div>
                <div class="f2">
                    <p> Door Detection </p>
                    <input id="f2-door" type="checkbox" name="f2" {% if f2 == "on" %}checked{% endif %}>
                    <label for="f2-door" class="label"> </label>
                </div>
                <div class="f3">
                    <p> PPE Detection </p>
                    <input id="f3-ppe" type="checkbox" name="f3" {% if f3 == "on" %}checked{% endif %}>
                    <label for="f3-ppe" class="label"> </label>
                </div>
                <div class="submit-button">
                    <p> Submit </p>
                    <input id="submit" type="submit">
                    <label for="submit" class="label"> </label>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
