
.container2 {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

.button {
    border: 5px solid #C70039; 
    transition: 0.5s; /* Smooth transition for hover effect */
    margin: 10px;
}

.button:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
    border-color: #900; /* Change border color on hover for better visibility */
    opacity: 0.8; /* Change opacity on hover */
    transition: opacity 0.5s; /* Smooth transition */
    transition: 0.5s;
}
